































/*contactForm*/
#contactForm{
	width: 100%;
}
.container{
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}
.row{
	width: 40%;
	order: 1;
	flex-basis: auto;
	flex: 0 1 auto;
	align-self: auto;

}
.row2{
	width: 40%;
	order: 2;
	flex-basis: auto;
	flex: 0 1 auto;
	align-self: auto;

}
.row3 {
	width: auto;
	display: block;
	margin: 0 auto;
}
.row3 textarea{
	height: 200px;
	width: 90%;
	margin: 0 auto;
	display: block;
}
.row3 input{
	height: 50px;
	width: 90%;
	margin: 0 auto;
	display: block;
	margin-top: 20px;
}
input, textarea {
	width: 100%;
    height: 50px;
    border: solid #00599a 2px;
    margin-left: auto;
    margin-right: auto;
    margin: 10px 0 10px 0;
    padding: 10px;
    background-color: rgba(0,0,0,0);
   /* font-family: 'Open Sans', sans-serif;*/
    font-size: 1.2em;
}

#contact-form-send:hover{
	background-color: #00599a;
  color: white;
  transition: all .3s linear;

}