/*************************************************work displays*************************************************/
.flexPics
{
	padding: 0;
	margin: 0;
	list-style: none;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
		padding-bottom: 20px;
}
@supports (display: grid) {
	.flexPics {
		display: grid;
		padding: 0;
		margin: 0;
		grid-template-columns: 30% 30%;
		justify-content: center;
		padding-bottom: 20px;
	}
}
.project
{
	height: 100%;
	width: 100%;
	padding: 10px;
	overflow: hidden;
}
.project img
{
	width: 90%;
	justify-content: center;
}
.flex h3{
	color: white;
	position: absolute;
	z-index: 1000000;
	margin: 0 auto;
	font-size: 2em;
	font-family: 'Oxygen', sans-serif;
	float: left;
	padding-left: 20px;
	padding-top: 20%;
	text-shadow: 5px 2px 8px black;
}
.white{
	color: white;
}
.one{
	grid-column: 1;
	grid-row: 1;
}
.two{
	grid-column: 2;
	grid-row: 1;
}






a.button1
{
	background-color: white;
	border: none;
	color: #112D4E;
	padding: 15px;
	text-align: center;
	text-decoration: none;
	display: block;
	margin: 0 auto;
	transition: 0.3s;
	cursor: pointer;
	-webkit-transition:0.3s all ease;
 	transition:0.3s ease all;
	font-size: 1.414em;
	max-width: 200px;
	margin-top: 20px;
	margin-bottom: 20px;
}
a.button1:hover{
	background-color: #112D4E;
	color: #F9F7F7;
}
/*-----------------------------General-----------------------------*/
body
{
	background-color: #F9F7F7;
	margin: 0;
}
h1,h2,h3,h4,h5,p,body, button
{
	font-family: 'Questrial', sans-serif;
}

h1,h2,h3,h4,h5
{
	text-align: center;
	display: block;
	font-family: 'Fira Sans', sans-serif;
	color: #112D4E;
}
h1
{
	font-size: 3.998em;
}
h2
{
	font-size: 2.827em;
}
h3
{
	font-size: 1.999em;
}
h4
{
	font-size: 1.414em;
}
p
{
	font-family: 'Fira Sans', sans-serif;
	color: #112D4E;
	font-size: 1em;
}
ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}

li
{
    float: left;
}

li a
{
    display: block;
    color: #112D4E;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Fira Sans', sans-serif;
}

/* Change the link color to #111 (black) on hover */
li a:hover
{
    background-color: #112D4E;
   	color: #F9F7F7;
}
a:hover
{
	transition: all .3s linear;
}
header
{
	background-color: #F9F7F7;
	min-height: 50%;
	height:auto;

}
header a
{
  text-align:center;
  display: block;
  color: #112D4E;
}
/*header a:hover
{
  color: #3F72AF;
}*/
header img
{
  float: right;
  height: 40%;
  width: auto;
  display: inline-block;
}

/*-----------------------------end general-----------------------------*/
/*-----------------------------Body-----------------------------*/
.collage
{
	background-color: #112D4E;
	display:inline-block;
	vertical-align: top;
	width: 100%;
}
#collageHead
{
	color: white;
}
.pic
{
	width: 20%;
	height: auto;
	padding: 15px;
	width: 280px;
	height: 230px;
	line-height: 150px;
	font-weight: bold;
	font-size: 3em;
	text-align: center;
}
.pic img{
	height: 100%;
}
#section1
{
	background-color: #E8F1F5;
   display:inline-block;
   vertical-align: top;
   width: 100%;
}
#seperatorImg1
{
  min-height: 500px;
	 background-image: url("cover1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
        overflow-y: scroll;
           display:block;
   vertical-align: top;
   width: 100%;
   overflow: hidden;
}
html {
    overflow-y: hidden;
}
body {
height:100%;
overflow: scroll;
}

#seperatorImg2
{
  min-height: 500px;
  background-image: url("diningHall1.JPG");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
       display:block;
   vertical-align: top;
   width: 100%;
   overflow: hidden;
}
#section2
{
	background-color: #3F72AF;
  display:inline-block;
  vertical-align: top;
  width: 100%;
}
#section2 h2
{
	color: #112D4E;
}
#section2 .light{
	color: #F9F7F7;
}
#section2 p
{
	color: #F9F7F7;
}
#section2 a
{
	text-align: center;
	display: block;
}
#section3
{
	background-color: #F9F7F7;
}
#section3 h4
{
	color: #112D4E;
}
/*-----------------------------end body-----------------------------*/
/*-----------------------------map API-----------------------------*/

#map {
  height: 400px;
  width: 100%;
 }
 /*-----------------------------end map API-----------------------------*/

/*-----------------------------Contact Form-----------------------------*/
.container
{
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}
/*----------------------Grid---------------------- */
.imageGrid {
  display: flex;
}
@supports (display: grid) {
	.imageGrid {
		display: grid;
		grid-template-columns: 30%  30%  30%;
		justify-content: center;
	}
}
.box {
  padding: 10px;
	flex-basis: 25%;
}
.first img, .second img, .third img, .fourth img, .fifth img, .sixth img{
	width: 100%;
	display: flex;
  align-items: center;
  justify-content: center
}
.first{
	grid-column: 1;
	grid-row: 1;
}
.second{
	grid-column: 2 ;
	grid-row: 1;
}
.third{
	grid-column: 1 ;
	grid-row: 2 ;
}
.fourth{
	grid-column: 2 ;
	grid-row: 2 ;
}
.fifth{
	grid-column: 3 ;
	grid-row: 1 ;
}
.sixth{
	grid-column: 3 ;
	grid-row: 2 ;
}



.row
{
  width: 40%;
  order: 1;
  flex-basis: auto;
  flex: 0 1 auto;
  align-self: auto;

}
.row3
{
  width: 40%;
  display: block;
  margin: 0 auto;
}
.row3 textarea
{
  height: 150px;
  width: 90%;
  margin: 0 auto;
  display: block;
}
.row3 input
{
  height: 50px;
  width: 90%;
  margin: 0 auto;
  display: block;
  margin-top: 20px;
}
input, textarea
{
    width: 100%;
    height: 50px;
    border: solid #112D4E 2px;
    margin-left: auto;
    margin-right: auto;
    margin: 10px 0 10px 0;
    padding: 10px;
    background-color: #F9F7F7;
    font-size: 1.2em;
    font-family: 'Questrial', sans-serif;
}
textarea
{
    width: 100%;
    height: 150px;
}
#contact-form-send
{
  background-color: #F9F7F7;
  color: #112D4E;
   border: solid #112D4E 2px;
}
#contact-form-send:hover
{
  background-color:#3F72AF ;
  color: #F9F7F7;
  transition: all .3s linear;

}
.contactHead
{
  display: block;
  margin: 0 auto;
  width: 60%;
  text-align: center;
  line-height: 35px;
}

/*-----------------------------end Contact Form-----------------------------*/
/*-----------------------------Menu Display-----------------------------*/
#navMenu
{
  padding: 0;
  margin: 0;
  list-style: none;

  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
  justify-content: space-around;
}

.navOption
{
	margin: 0 auto;
	text-align: center;
  /*width: 10%;*/

}
#flexMenuApp, #flexMenuSandwhich, #flexMenuSoups, #flexMenuFishFry,
#flexMenuDinner, #flexMenuChicken, #flexMenuPizza
{
  padding: 0;
  margin: 0;
  list-style: none;

  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
	display: none;

  -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
  justify-content: space-around;

}
.foodRight{
	display: block;
	float: right;
	margin-left: 28%;
	margin-top: 10%;
	position: absolute;
	height: 300px;
	width: 300px;
}
.further
{
	margin-top: 26%;
}
.more
{
	margin-top: 19%;

}
.foodLeft
{
	display: block;
	float: right;
	padding-right: 60%;
	margin-top: 26%;
	position: absolute;
	height: 300px;
	width: 300px;
}
#flexMenu
{
	padding: 0;
	margin: 0;
	list-style: none;

	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-flex-flow: row wrap;
	 flex-flow: row wrap;
	justify-content: space-around;
}
#section2 h3, h4
{
	text-align: center;
	color: #F9F7F7;
}

.footerOption
{
  color: #F9F7F7;
  text-align: center;
  width: 100%;
}
.footerOption a
{
  color: #F9F7F7;
}
.footerOption a:hover
{
    transition: all .3s linear;
    color: #C8C5BC;
}
/*Here, we want to have all the options across the top, and clicking on the button displayues the tab*/
.menuOption
{
  color: #F9F7F7;
  text-align: center;
  width: 100%;
  line-height: 1px;
}
.menuOption img
{
  width: 20%;
  height: auto;
}
#flexMenu h4
{
  color: #F9F7F7;
}
.menuOption a
{
  color: #F9F7F7;
}
.menuOption a:hover
{
  color: #C8C5BC;
}
button
{
	text-align: center;
	margin: 0 auto;
	display: block;
	background: #F9F7F7;
	border: none;
	color: #3F72AF;
	padding:15px 30px;
	font-size: 1.2em;
	font-family: 'Fira Sans', sans-serif;
  cursor: pointer;
}
button:hover
{
	color: #112D4E;
	background-color: #E8F1F5;
	transition: all .3s linear;
}
#typeMenuSpecial
{
	text-align: center;
	margin: 0 auto;
	display: block;
	background: #112D4E;
	border: none;
	color: #E8F1F5;
	padding:15px 30px;
	font-size: 1.2em;
	font-family: 'Fira Sans', sans-serif;
	cursor: pointer;
}
#typeMenuSpecial:hover
{
	color: #112D4E;
	background-color: #E8F1F5;
	transition: all .3s linear;
}
#viewAll
{
  text-align: center;
  margin: 0 auto;
  display: block;
  background: #F9F7F7;
  border: none;
  color: #3F72AF;
  padding:15px 30px;
  font-size: 1.2em;
  font-family: 'Fira Sans', sans-serif;
  cursor: pointer;
}
#viewAll:hover
{
  color: #112D4E;
  background-color: #E8F1F5;
  transition: all .3s linear;
}

/*-----------------------------end Menu Display-----------------------------*/
/*-----------------------------About Flex-----------------------------*/

.aboutOption
{
  color: #F9F7F7;
  text-align: center;
  float: left;
  width: 40%;
}
.aboutOption img
{
    width: 90%;
    height: auto;
    display: inline-block;
}
.aboutOption h4
{
  color: #F9F7F7;
}
.aboutOption p
{
  line-height: 20px;
}

.nice
{
	display: block;
	width: 70%;
	margin: 0 auto;
	text-align: center;
}
.portrait
{
	padding: 30px;
	width: 400px;
	display: block;
	margin:0 auto;
}
/*-----------------------------end About Flex-----------------------------*/
/*-----------------------------footer-----------------------------*/

footer
{
	background-color: #112D4E;
	width: 100%;
	position: relative;
	text-align: center;
  display:inline-block;
  vertical-align: top;
  /*figure out how to get this to stretch across*/
}

footer p
{
	color: #F9F7F7;
}
footer h5
{
	color: #F9F7F7;
}
hr{
    display: block;
    /*margin-top: -40px;*/
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
    width: 200px;
    color: white;
}
/*-----------------------------end footer-----------------------------*/



/*-----------------------------dynamic medium-----------------------------*/
@media(max-width: 1500px)
{
	.aboutOption
	{
		width: 45%;
	}
}
@media(max-width:900px)
{
	.imageGrid {
		display: grid;
		grid-template-columns: 50% 50%;
		justify-content: center;
	}
	.first{
		grid-column: 1;
		grid-row: 1;
	}
	.second{
		grid-column: 2 ;
		grid-row: 1;
	}
	.third{
		grid-column: 1 / span 2;
		grid-row: 2 ;
	}
	.fourth{
		grid-column: 1 ;
		grid-row: 3 ;
	}
	.fifth{
		grid-column: 2 ;
		grid-row: 3 ;
	}
	.sixth{
		grid-column: 1 / span 2 ;
		grid-row: 4 ;
	}
}
@media(max-width: 1300px)
{
  .contactHead
  {
    display: block;
    margin: 0 auto;
    width: 90%;
    text-align: center;
    line-height: 35px;
  }

    .navOption
  {
    margin: 0 auto;
    text-align: center;
    width: 40%;
    padding: 10px;
  }
}
@media (max-width: 1100px)
{
  .aboutOption
  {
    width: 70%;
  }
}
@media(max-width: 1000px)
{
	.foodRight, .foodLeft
	{
		display: none;
	}
  .navOption
{
  margin: 0 auto;
  text-align: center;
  width: 40%;
  padding: 10px;
}
  .aboutOption
  {
    color: #F9F7F7;
    text-align: center;
    width: 90%;
  }
  .aboutOption img
  {
      height: auto;
      /*display: inline-block;*/
      display: hidden;
  }

  .row
  {
    width: 90%;
    order: 1;
    flex-basis: auto;
    flex: 0 1 auto;
    align-self: auto;

  }
  .row3
  {
    width: 90%;
    display: block;
    margin: 0 auto;
  }
  .menuOption
 {
    height: auto;
    color: #F9F7F7;
    width: 100%;
    line-height: 24px;
    text-align: center;
 }


}/*-----------------------------end dynamic meduim-----------------------------*/
/*-----------------------------mobile-----------------------------*/

@media (max-width: 600px){
	.portrait
	{
		padding: 30px;
		width: 200px;
		display: block;
		margin:0 auto;
	}
	.nice
	{
		display: block;
		width: 90%;
		margin: 0 auto;
		text-align: center;
	}
  #seperatorImg1
  {
    display: none;
  }
  #seperatorImg2
  {
    display: none;
  }
    .navOption
    {
    	width: 100%;
			margin: -6px;
    }
    .aboutOption img
    {
        height: auto;
        /*display: inline-block;*/
        display: hidden;
        width: 90%;
    }
		.menuOption h4, p
		{
			margin: 10px;
		}
		.menuOption
		{
			width: 90%;
		}

		.mobileOption
		{
			display: none;
		}
		.pic
		{
			width: 20%;
			height: auto;
			padding: 15px;
			width: 200px;
			height: 150px;
			line-height: 150px;
			font-weight: bold;
			font-size: 3em;
			text-align: center;
		}
}
