/*-----------------------------General-----------------------------*/
body
{
	background-color: #F9F7F7;
}
h1,h2,h3,h4,h5,p,body
{
	font-family: 'Questrial', sans-serif;
}

h1,h2,h3,h4,h5
{
	text-align: center;
	display: block;
	font-family: 'Fira Sans', sans-serif;
	color: #112D4E;
}
h1
{
	font-size: 3.998em;
}
h2
{
	font-size: 2.827em;
}
h3
{
	font-size: 1.999em;
}
h4
{
	font-size: 1.414em;
}
p
{
	font-family: 'Fira Sans', sans-serif;
	color: #112D4E;
	font-size: 1em;
}
ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}

li 
{
    float: left;
}

li a 
{
    display: block;
    color: #112D4E;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Fira Sans', sans-serif;
}

/* Change the link color to #111 (black) on hover */
li a:hover 
{
    background-color: #112D4E;
   	color: #F9F7F7;
}
a:hover
{
	transition: all .3s linear;
}
header
{
	background-color: #F9F7F7;
	min-height: 50%;
	height:auto;

}
/*-----------------------------end general-----------------------------*/
/*-----------------------------Body-----------------------------*/

#section1
{
	background-color: #E8F1F5;
   display:inline-block;
   vertical-align: top;
   width: 100%;
}
#seperatorImg1
{
  min-height: 500px;
	 background-image: url("diningHall.JPG");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#seperatorImg2
{
  min-height: 500px;
  background-image: url("diningHall1.JPG");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#section2
{
	background-color: #3F72AF;
  display:inline-block;
  vertical-align: top;
  width: 100%;
}
#section2 h2
{
	color: #F9F7F7;
}
#section2 p
{
	color: #F9F7F7;
}
#section3
{
	background-color: #F9F7F7;
}
/*-----------------------------end body-----------------------------*/
/*-----------------------------Contact Form-----------------------------*/
.container
{
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}
.row
{
  width: 40%;
  order: 1;
  flex-basis: auto;
  flex: 0 1 auto;
  align-self: auto;

}
.row3 
{
  width: 40%;
  display: block;
  margin: 0 auto;
}
.row3 textarea
{
  height: 150px;
  width: 90%;
  margin: 0 auto;
  display: block;
}
.row3 input
{
  height: 50px;
  width: 90%;
  margin: 0 auto;
  display: block;
  margin-top: 20px;
}
input, textarea 
{
    width: 100%;
    height: 50px;
    border: solid #112D4E 2px;
    margin-left: auto;
    margin-right: auto;
    margin: 10px 0 10px 0;
    padding: 10px;
    background-color: #F9F7F7;
    font-size: 1.2em;
    font-family: 'Questrial', sans-serif;
}
textarea
{
    width: 100%;
    height: 150px;
}
#contact-form-send
{
  background-color: #F9F7F7;
  color: #112D4E;
   border: solid #112D4E 2px;
}
#contact-form-send:hover
{
  background-color:#3F72AF ;
  color: #F9F7F7;
  transition: all .3s linear;

}


/*-----------------------------end Contact Form-----------------------------*/
/*-----------------------------Menu Display-----------------------------*/
#flexMenu
{
/*Runs great on safari and chrome, firefox looks awful.
*/
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
  justify-content: space-around;

}
.menuOption
{
  color: #F9F7F7;
  text-align: center;
}
.menuOption img
{
  width: 20%;
  height: auto;
}
#flexMenu h4
{
  color: #F9F7F7;
}

/*-----------------------------end Menu Display-----------------------------*/
/*-----------------------------About Flex-----------------------------*/

.aboutOption
{
  color: #F9F7F7;
  text-align: center;
  float: left;
  width: 40%;
}
.aboutOption img
{
    width: 50%;
    height: auto;
    display: inline-block;
}
.aboutOption h4
{
  color: #F9F7F7;
}

/*-----------------------------end About Flex-----------------------------*/
/*-----------------------------footer-----------------------------*/

footer
{
	background-color: #112D4E;
	width: 100%;
	position: relative;
	text-align: center;
  display:inline-block;
  vertical-align: top;
  /*figure out how to get this to stretch across*/



}

footer p
{
	color: #F9F7F7;
}
footer h5
{
	color: #F9F7F7;
}
/*-----------------------------end footer-----------------------------*/



/*-----------------------------dynamic medium-----------------------------*/
@media(max-width: 1000px)
{
  .aboutOption
  {
    color: #F9F7F7;
    text-align: center;
    width: 90%;
  }
  .aboutOption img
  {
      height: auto;
      /*display: inline-block;*/
      display: hidden;
  }

  .row
  {
    width: 90%;
    order: 1;
    flex-basis: auto;
    flex: 0 1 auto;
    align-self: auto;

  }
  .row3 
  {
    width: 90%;
    display: block;
    margin: 0 auto;
  }
}/*-----------------------------end dynamic meduim-----------------------------*/
/*-----------------------------mobile-----------------------------*/

@media (max-width: 600px){
  .aboutOption img
  {
      height: auto;
      /*display: inline-block;*/
      display: hidden;
      width: 90%;
  }
  #seperatorImg1
{
  min-height: 300px;
   background-image: url("diningHall.JPG");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#seperatorImg2
{
  min-height: 300px;
  background-image: url("diningHall1.JPG");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

}
}

